@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Open+Sans&family=Roboto:wght@300&display=swap");

body {
  background-color: #14192c;
}

.card-header {
  font-family: "Kanit", sans-serif;
  font-size: larger;
  text-shadow: 0 0 15px black;
}
.headings {
  background-color: transparent;
  margin-left: 1.68%;
  font-size: 30px;
}
.hcontain {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-block: 0px;
}
.navbar-nav {
  margin-left: 40%;
}
.nav-link {
  color: white;
  border: none;
  background-color: #14192c92;
}
.nav-link:hover {
  background-color: #0042a6;
  color: white;
}
.nav-link:focus {
  color: rgb(255, 255, 255);
  background-color: grey;
}
.list-group-item {
  background-color: #0042a6;
  color: white;
}
.card {
  background-color: #0042a6;
  color: white;
}
.fa-brands,
.fa-solid {
  font-size: 50px;
}

a {
  text-decoration: none;
  color: gold;
}
p:hover {
  cursor: default;
}
