body {
  background-color: #1d1c22;
}
.navbar-nav {
  margin-left: 37.5%;
}
.nav-link {
  color: white;
  border: none;
  background-color: rgba(1, 4, 21, 0.4);
}
.nav-link:hover {
  background-color: aliceblue;
}
.nav-link:focus {
  color: rgb(255, 255, 255);
  background-color: grey;
}

a {
  text-decoration: none;
}
p:hover {
  cursor: default;
}
